<div class="cocktail-card">
<h2><%= @cocktail.name %></h2>
  <% @cocktail.doses.each do |dose| %>
  <%= dose.description %>
  <%= link_to "Delete dose", dose_path(dose), 
    method: :delete,
    data: { confirm: "Are you sure?" },
    class: "btn btn-danger rounded" %>
<% end %> 

<%= link_to "Add dose",  new_cocktail_dose_path(@cocktail) %>
<%= link_to "Back to Cocktails", cocktails_path %>

</div>