<div class="container padded">
  <h3 class="text-center">Add an ingredient</h1>
    <div class="row">
      <%= simple_form_for([@cocktail, @dose]) do |f| %>
      <%= f.association :ingredient %>
      <%= f.input :description %>
      <%= f.submit "add an ingredient", class: "btn btn-primary"%>
      <% end %>
      
      <%= link_to "Add new cocktail", cocktails_path, class: "btn btn-warning btn-sm"%>
    </div>
</div>


